# Dependencies
node_modules/
**/*.swp
**/*.swo
.git

# Environment Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Persistent Data
valkey_data/
redis_data/
dump.rdb

# Production Docker-compose
docker-compose-prod.yml

# OS Files
.DS_Store
Thumbs.db

# Editor/IDE Settings
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/

# Build Output
dist/
build/
